<% if logged_in? %>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <section class="user_info">
                <%= render 'shared/user_info'%>
            </section>
            <section class="micropost_form">
                <%= render 'shared/micropost_form'%>
            </section>
        </div>
    </div>
    <div class="row">
        <h3 class="center">Articles (<%=current_user.microposts.count%>)</h3>
    </div>
    <div class="row">
        <%= render 'shared/feed' %>
    </div>
<%else%>
    <div class="center jumbotron">
        <h1>Atode</h1>

        <h2>
            A web service that allows you to manage the sites you want to read later.
        </h2>

    <%= link_to "Sign up now!",signup_path,class:"btn btn-lg btn-primary"%>
    </div>
<%end%>